<p>In this article, I explained to you about <a href="https://tailwindcss.com/docs">Tailwindcss</a>. Which is the powerful framework of css. There are many css frameworks in the market like Bootstrap, Tailwindcss, Materialize CSS, and so on.</p>
<p>Tailwind is the most popular and lightweight css framework to all others.</p>
<h3>Reasons to use Tailwindcss:</h3>
<ul>
<li>No default theme</li>
<li>Doesn’t impose design decisions that you have to fight to undo</li>
<li>Offers a head start implementing a custom design with its own identity</li>
<li>Comes with a menu of predesigned widgets to build your site with</li>
</ul>
<p><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--eFmlJnAW--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://themeselection.com/wp-content/uploads/2020/09/tailwind-CSS.jpg" alt="Tailwindcss"></p>
<p>You can use tailwindcss with CDN links by importing styles to your project and another way to use tailwindcss with npm installation.</p>
<h3>CDN Link</h3>
<pre><code class="language-html">&lt;link href=&quot;https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css&quot; rel=&quot;stylesheet&quot;&gt;
</code></pre>
<p>There are lots of disadvantages to importing <a href="https://tailwindcss.com/docs/functions-and-directives">Tailwindcss Directives</a> into your project. When you import Tailwindcss directives, you are not able to do some tailwindcss customization.</p>
<ul>
<li>CDN takes a lot of time to interact with your website.</li>
<li>It takes a lot of time to import and render styles with your HTML document.</li>
<li>You can't remove unused styles from the main tailwindcss file.</li>
<li>You aren't able to use some special <a href="https://tailwindcss.com/docs/installation">features of tailwindcss</a> by importing CDN.</li>
</ul>
<h3>Tailwindcss using NPM</h3>
<p>There are lots of benefits to using tailwindcss by installing from NPM.</p>
<ul>
<li>You can remove unwanted css from your project to load fewer styles and it will impact on rendering documents.</li>
<li>You can create directives to apply to common HTML elements.</li>
<li>You can customize a dark and light theme using <code>tailwindcss.config.js</code></li>
<li>You can add some special colors and fonts by customizing the config file.
Personally, I recommend you to use tailwindcss using npm instead of importing styles through CDN.</li>
</ul>
<h2>Let's setup Tailwindcss using NPM</h2>
<p>Run the following command in your folder path.</p>
<pre><code class="language-bash">npm i tailwindcss
</code></pre>
<p>You have to install some more packages to remove unwanted styles from your project.</p>
<pre><code class="language-bash">npm i autoprefixer postcss postcss-cli
</code></pre>
<p>Now, I will explain to you how to set up tailwindcss files and config files.</p>
<p>Let's create <code>tailwind.config.js</code>. Run the following command.</p>
<pre><code class="language-bash">npx tailwindcss init
</code></pre>
<p>Now, create a <code>postcss.config.js</code> file by running the command</p>
<pre><code class="language-bash">npx tailwindcss init -p
</code></pre>
<p>Now, create a public/css folder and create a <code>tailwind.style</code> name file inside css folder and add this code.</p>
<pre><code class="language-css">@tailwind base;
@tailwind components;
@tailwind utilities;
</code></pre>
<p>Add a new script in <code>package.json</code> to compile tailwindcss directives to styles.</p>
<pre><code class="language-javascript">&quot;build&quot;: &quot;postcss ./public/css/tailwind.css -o ./public/css/style.css -w&quot;
</code></pre>
<p>When you run <code>npm run build</code> tailwindcss automatically creates a <code>style.css</code> inside public/css.</p>
<p>Before you execute the build script, you need to set <strong>JIT Compiler</strong>.</p>
<p>Now, the most important step is we have to define JIT Compiler in <code>tailwind.config.js</code></p>
<p>You have to set JIT compiler like</p>
<pre><code class="language-javascript">module.exports = {
    mode: 'jit',
    purge: [
        './views/**/*.ejs',
        './views/*.ejs',
        './public/**/*.html',
        './public/*.html'
    ],
    darkMode: false,
    theme: {
        extend: {
            fontFamily: {},
            colors: {}
        }
    },
    variants: {
        extend: {},
    },
    plugins: [],
}
</code></pre>
<p>In the above code, when we define purge and in that purge array, we have to define the files where we applied styles or you can say that classes on HTML elements. Thus when the build script running, postcss packages automatically remove unwanted styles from <code>public/css/style.css</code> and also add wanted styles.</p>
<p>Now, You easily run the build script</p>
<pre><code class="language-bash">npm run build
</code></pre>
<h2>Setup Tailwindcss using a C++ program</h2>
<p>I have created a C++ program to generate tailwindcss with node and express project.</p>
<p>You can check out my <a href="https://github.com/abhidadhaniya23/Node-and-express-structure-using-cpp">Github Repository</a></p>
<p>It will save you a lot of time and also you don't have to do anything to set up all folders and files. You have to just run that <code>program.exe</code> file from the repository.</p>
<h2>Tailblocks</h2>
<p><a href="https://tailblocks.cc/">Tailblocks</a> is a website to grab built-in templates using tailwindcss. You can directly copy those components from the website.</p>
<h2>Conclusion</h2>
<p>Tailwind is the most popular framework. Tailwindcss is better than bootstrap because you can more customize your project with tailwindcss instead of bootstrap. There are lots of features than bootstrap. I strongly recommend you to use Tailwind instead of others. You can check out more features and <a href="https://tailwindcss.com/docs">documentation</a> from its website.</p>
