<!-- <section id="blogs" class="flex flex-col justify-center items-center">
    <h2 class="py-6">Blogs</h2>
    <div class="flex flex-row justify-center items-center">
        <div class="blog bg-gray-500" style="">
            <img class="post-img object-fill" src="assets/Sample-photos/periodic-table.jpg">
        </div>
    </div>
</section> -->


<section id="latest-blogs">
    <div class="flex flex-col justify-center bg-gray-50 py-16">

        <h2 class="pb-9 interFont font-semibold text-5xl text-center text-primary">Latest Posts</h2>

        <div class="container mx-auto flex flex-col sm:flex-row justify-center items-center sm:items-baseline">

            <div class="flex flex-row flex-wrap justify-center items-center m-4 w-full overflow-hidden rounded-md">
                <div class="overflow-hidden h-auto relative m-10 w-11/12 sm:w-5/12">
                    <a href="">
                        <h2 class="mb-7 absolute bottom-0 p-4 text-white text-3xl z-20"> to write hello world..? again
                            and again ???</h2>
                        <p class="absolute bottom-0 p-4 text-white text-sm z-20 opacity-50 w-full"><i
                                class="fa fa-clock mr-2"></i>4 min to read</p>
                        <div class="gradient-layer"></div>
                        <img class="post-img" src="../assets/Sample-photos/cheat-sheets.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>