<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#11044a" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Web-developer ~ Abhi">
    <meta name="description"
        content="My name is abhi. I am from India. I am a front-end developer. Checkout my portfolio website.">
    <meta name="keywords"
        content="Web-developer, web, front-end development, web-developer, web developer, web developer abhi, web developer abhi dadhaniya">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="15 days">
    <meta name="author" content="Abhi Dadhaniya">

    <title>Web-Developer ~ Abhi</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="assets/fav-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="loading-animation">
        <div class="main_loading_class">
            <div class="loading-animation-inside">
                <div class="round"></div>
                <div class="round"></div>
                <div class="round"></div>
                <div class="round"></div>
                <p>Loading</p>
            </div>
        </div>
    </div>

    <section id="first">

        <div class="content">

            <div class="heading">
                <div class="details">
                    <h1 class="ml15">
                        <span class="word">Hi,</span>
                        <span class="word">I am</span>
                        <br>
                        <span class="word">Abhi.</span>
                    </h1>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
                    <!-- <div class="first">
                        <h2>Hi,</h2>
                    </div>
                    <div class="second">
                        <h2>I am</h2>
                    </div>
                    <div class="third">
                        <h2>Abhi.</h2>
                    </div> -->
                </div>
                <h1 class="ml9">
                    <span class="text-wrapper">
                        <span class="letters">~ Full Stack Web-Developer</span>
                    </span>
                </h1>
                <!-- <p id="webDesigner">~ Full Stack Web-Development</p> -->
                <h1 class="ml16">&lt;JavaScript Developer/&gt;</h1>
                <!-- <p id="language">&lt;JavaScript Developer/&gt;</p> -->
                <a href="#contact-me">Contact Me</a>
            </div>
        </div>

        <svg id="svg_first" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="rgb(82, 44, 250)" fill-opacity="1"
                d="M0,160L48,149.3C96,139,192,117,288,138.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,160C1248,149,1344,75,1392,37.3L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>

    </section>

    <section id="second">
        <h2><i class="fa fa-code" aria-hidden="true"></i> Skills</h2>
        <div class="main">
            <p>HTML</p>
            <div class="skill-class">
                <div id="html" class="skill html"></div>
            </div>
            <p>CSS & TailwindCss</p>
            <div class="skill-class">
                <div id="css" class="skill css"></div>
            </div>
            <p>Vanilla JavaScript</p>
            <div class="skill-class">
                <div id="js" class="skill js"></div>
            </div>
            <p>React.JS</p>
            <div class="skill-class">
                <div id="react" class="skill react"></div>
            </div>
            <p>Node.Js & Express.Js</p>
            <div class="skill-class">
                <div id="node_express" class="skill node-express"></div>
            </div>
            <p>Git & Github</p>
            <div class="skill-class">
                <div id="git" class="skill git"></div>
            </div>
            <p>GRAPHIC DESIGN</p>
            <div class="skill-class">
                <div id="graphic" class="skill graphic"></div>
            </div>
        </div>
        </div>
    </section>

    <section id="third">

        <svg id="svgInverse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="rgb(30, 7, 134)" fill-opacity="1"
                d="M0,96L30,128C60,160,120,224,180,218.7C240,213,300,139,360,128C420,117,480,171,540,170.7C600,171,660,117,720,85.3C780,53,840,43,900,48C960,53,1020,75,1080,80C1140,85,1200,75,1260,58.7C1320,43,1380,21,1410,10.7L1440,0L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z">
            </path>
        </svg>

        <h2><i class="fa fa-user-circle" aria-hidden="true"></i>About Me</h2>

        <div class="about">
            <div class="flex flex-col items-center justify-center photo">
                <img class="mx-auto mb-4 lazy" data-src="assets/pic.jpeg">
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="AbhiDadhaniya07" data-color="#5F7FFF" data-emoji="🥤"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
            </div>
            <div class="me">
                <div class="desc">
                    <p>Hello, My name is Abhi. I am full-stack web developer. Currently, I am pursuing computer
                        engineering. I've started my work
                        as
                        a fresher. I am learning MERN Stack for web-development.
                        watch my front-end & back-end web projects
                        below.
                        <br>
                        <br>
                        If you want to develop any websites, you may contact me.
                        You can also follow me on my social media accounts.
                    </p>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/_abhi_dadhaniya_/" target="_blank"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                    <a href="https://mobile.twitter.com/abhidadhaniya3" target="_blank"><i class="fa fa-twitter"
                        aria-hidden="true"></i></a>
                        <a href="http://github.com/abhidadhaniya23" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a>
                        </div>
                    </div>
        </div>
        
        
    </section>
    
    
    <%- include('../partials/blog.ejs') %>
    
    <section id="notion-resources" class="text-center bg-[#f3f4f6]">
        <h2 class="mx-auto mb-12 text-4xl font-medium text-primary-primary_purple"><i class="fa fa-code"></i> Web Development Resources</h2>
        <div class="flex flex-col items-center justify-center">
            <img class="w-11/12 mx-auto mb-4 lazy md:w-9/12" data-src="assets/devresources.png">
                <a href="https://web-dev-resources.notion.site/Web-Development-Resources-be1207bcc32e434481c1ce6e90756964" class="mb-10 resources-btn" target="_blank">Get for free</a>
        </div>
    </section>
    
    <section id="forth">
        <div class="pb-16 content pt-28">
            <div class="heading">
                <h2 class="mb-9"><i class="fa fa-jsfiddle" aria-hidden="true"></i> Development</h2>
            </div>
            <div class="container mx-auto projects">
                <div class="list">
                    <!-- implement projects using json data -->
                    </div>
                </div>
            </div>
            <!-- <svg id="fifth-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f5f5f5" fill-opacity="1"
                    d="M0,96L120,122.7C240,149,480,203,720,208C960,213,1200,171,1320,149.3L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                </path>
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#11044a" fill-opacity="1"
                    d="M0,96L60,122.7C120,149,240,203,360,224C480,245,600,235,720,213.3C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                </path>
            </svg>
        </section>

        <section id="contact-me">
            <h2><i class="fa fa-user" aria-hidden="true"></i> &nbsp;Contact Me</h2>

            <div class="flex flex-col items-center justify-center w-full mt-5 mb-8">

                <div class="flex flex-col justify-center w-10/12 contact-form md:w-5/12 lg:w-3/12">
                    <form action="/" method="post" id="contactForm" autocomplete="off">
                        <div class="flex flex-row items-center justify-center">
                            <input type="text" autocomplete="off"
                                class="w-full px-3 py-3 my-2 text-base leading-8 text-indigo-200 duration-200 border-2 border-transparent border-solid rounded outline-none bg-primary-dark_blue focus:border-primary-primary_purple"
                                name="name" id="name" required placeholder="Name">
                        </div>
                        <div class="flex flex-row items-center justify-center">
                            <input type="email" autocomplete="off"
                                class="w-full px-3 py-3 my-2 text-base leading-8 text-indigo-200 duration-200 border-2 border-transparent border-solid rounded outline-none bg-primary-dark_blue focus:border-primary-primary_purple"
                                name="email" id="email" required placeholder="Email">
                        </div>
                        <div class="flex flex-row items-center justify-center">
                            <textarea
                                class="w-full px-3 py-3 my-2 text-base leading-8 text-indigo-200 duration-200 border-2 border-transparent border-solid rounded outline-none bg-primary-dark_blue focus:border-primary-primary_purple"
                                name="message" id="msg" autocomplete="off" required placeholder="Message"></textarea>
                        </div>
                        <button type="submit" onclick="validate()" id="submit"
                            class="mt-4 w-full text-white border-2 p-2.5 border-solid border-primary-primary_purple bg-primary-light_purple focus:bg-primary-light_purple hover:bg-transparent duration-200 rounded text-lg cursor-pointer">
                            Send
                        </button>
                        <!-- <input type="submit" value="Send"
                            class="mt-4 w-full text-white border-2 p-2.5 border-solid bg-transparent border-primary-primary_purple hover:bg-primary-light_purple focus:bg-primary-light_purple bg-indigo-600 duration-200 rounded text-lg cursor-pointer"> -->
                    </form>
                </div>

                <div class="details">
                    <!-- <div class="email">
                        <a href="mailto:abhidadhaniya23@gmail.com">
                            <i class="fa fa-envelope"></i>abhidadhaniya23@gmail.com
                        </a>
                    </div>
                    <div class="contact">
                        <a href="tel:+919427425818">
                            <i class="fa fa-phone"></i>+91 9427425818
                        </a>
                    </div> -->
                    <div class="social">
                        <a href="https://www.instagram.com/_abhi_dadhaniya_/" target="_blank"><i class="fa fa-instagram"
                                aria-hidden="true"></i></a>
                        <a href="https://mobile.twitter.com/abhidadhaniya3" target="_blank"><i class="fa fa-twitter"
                                aria-hidden="true"></i></a>
                        <a href="http://github.com/abhidadhaniya23" target="_blank"><i class="fa fa-github"
                                aria-hidden="true"></i></a>
                        <!-- <a href="https://t.me/joinchat/dSygKsLTrXY3ZTk9" target="_blank"><i class="fa fa-telegram"
                                aria-hidden="true"></i></a> -->
                        <a href="https://wa.me/message/P5X347M66RNDN1" target="_blank"><i class="fa fa-whatsapp"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer">
                Copyright &#169; 2021 || Created With &#10084; By Abhi Dadhaniya
            </div>
        </section>




        <script>

            function opacity() {
                document.querySelector('html').style.opacity = "0";
            }

            let email = document.getElementById('email');
            let name = document.getElementById('name');
            let msg = document.getElementById('msg');
            let loader = document.querySelector('.loader');
            let submit = document.getElementById('submit');


            function validate() {
                if (!(name.value === '' || msg.value === '' || !ValidateEmail(email.value))) {
                    submit.innerHTML = `<div class="loader"></div>`;
                    submit.style.pointerEvents = "none";
                }
            }

            function ValidateEmail(mail) {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
                    return (true)
                }
                else {
                    return (false);
                }
            }

            anime.timeline({ loop: true })
                .add({
                    targets: '.ml15 .word',
                    scale: [5, 1],
                    opacity: [0, 1],
                    easing: "easeOutCirc",
                    duration: 1000,
                    delay: (el, i) => 400 * i
                }).add({
                    targets: '.ml15',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 3000
                });

            // Wrap every letter in a span
            var textWrapper = document.querySelector('.ml9 .letters');
            textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

            anime.timeline({ loop: true })
                .add({
                    targets: '.ml9 .letter',
                    scale: [0, 1],
                    duration: 1000,
                    elasticity: 500,
                    delay: (el, i) => 35 * (i + 1)
                }).add({
                    targets: '.ml9',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 3000
                });

            // Wrap every letter in a span
            var textWrapper = document.querySelector('.ml16');
            textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

            anime.timeline({ loop: true })
                .add({
                    targets: '.ml16 .letter',
                    translateY: [-100, 0],
                    easing: "easeOutExpo",
                    duration: 1000,
                    delay: (el, i) => 30 * i
                }).add({
                    targets: '.ml16',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 3200
                });

            document.addEventListener('scroll', Wake_Up_Image);

            function Wake_Up_Image() {
                let lazyloadTimeout;
                let lazyImages = document.querySelectorAll('.lazy');
                if (lazyloadTimeout) {
                    clearTimeout(lazyloadTimeout);
                }

                lazyloadTimeout = setTimeout(function () {
                    let scrollTop = window.pageYOffset;
                    lazyImages.forEach(function (img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyImages.length == 0) {
                        document.removeEventListener("scroll", Wake_Up_Image);
                    }
                })
            }

            // for loading animation
            let footer = document.querySelector('.footer');
            let loadingAnimation = document.querySelector('.loading-animation');
            let body = document.querySelector('body');

            window.onload = function () {
                footer.style.display = 'block';
                body.style.overflow = 'auto';
                loadingAnimation.style.animationName = 'show-website';
                loadingAnimation.style.opacity = '0';
                setTimeout(displayBlock, 1100);
            };

            function displayBlock() {
                loadingAnimation.style.display = 'none';
            }

            let logo = document.getElementById('logo');
            let ul = document.getElementById('ul');

            // skill bar progress, when page scroll to skills
            let skill = document.getElementsByClassName('skill');

            window.onscroll = function () {
                if (scrollY < 136) {
                    skillAnimate();
                    skillNull();
                }
                else {
                    skilFill();
                }
            }

            function skillAnimate() {
                Array.from(skill).forEach(function (element) {
                    element.style.animation = 'load 1.7s 0s ease';
                });
            }

            function skilFill() {
                document.getElementById('html').style.width = '85%';
                document.getElementById('css').style.width = '75%';
                document.getElementById('js').style.width = '90%';
                document.getElementById('node_express').style.width = '60%';
                document.getElementById('git').style.width = '80%';
                document.getElementById('graphic').style.width = '50%';
                document.getElementById('react').style.width = '30%';
            }
            
            function skillNull() {
                document.getElementById('html').style.width = '0%';
                document.getElementById('css').style.width = '0%';
                document.getElementById('js').style.width = '0%';
                document.getElementById('graphic').style.width = '0%';
                document.getElementById('react').style.width = '0%';
                document.getElementById('node_express').style.width = '0%';
                document.getElementById('git').style.width = '0%';
            }


            // script for projects data update...

            let data = [
                {
                    'projectName': 'React Movie App',
                    'img_src': 'assets/Sample-photos/movie-app.jpg',
                    'description': 'Image gallery UI',
                    'hrefLocation': 'https://react-movie-app-000.netlify.app',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/RPS-Game'
                },
                {
                    'projectName': 'Basic Mechanical Engineering',
                    'img_src': 'assets/Sample-photos/bme.jpg',
                    'description': 'This is a full-stack educational website of basic mechanical engineering.',
                    'hrefLocation': 'https://basic-mechanical-engineering.herokuapp.com/',
                    'code': 'https://github.com/abhidadhaniya23/Mechanical-Website'
                },
                {
                    'projectName': 'React Image Gallery',
                    'img_src': 'assets/Sample-photos/image-gallery.png',
                    'description': 'Image gallery UI',
                    'hrefLocation': 'https://image-gallery-ui.netlify.app/',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/RPS-Game'
                },
                {
                    'projectName': 'Rock, Paper, Scissor Game',
                    'img_src': 'assets/Sample-photos/rps.jpg',
                    'description': 'This is a rock, paper, scissor game, visit the below site to play it.',
                    'hrefLocation': 'RPS-Game/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/RPS-Game'
                },
                // {
                //     'projectName': 'Awesome cheat sheets',
                //     'img_src': 'assets/Sample-photos/cheat-sheets.jpg',
                //     'description': 'This is a cheat sheet website, visit the below site for awesome cheat sheets.',
                //     'hrefLocation': 'https://awesome-cheat-sheets.online/',
                //     'code': 'https://github.com/Youth-Avenue-2021/cheat-sheet.github.io'
                // },
                {
                    'projectName': 'Mind Sharp Game',
                    'img_src': 'assets/Sample-photos/color_game.jpg',
                    'description': 'This is a full-stack educational website of basic mechanical engineering.',
                    'hrefLocation': 'Color-game/color-game.html',
                    'code': 'https://github.com/abhidadhaniya23/Mechanical-Website'
                },
                {
                    'projectName': 'Countdown-Timer',
                    'img_src': 'assets/Sample-photos/countdown-timer.jpg',
                    'description': 'This is a countdown timer, visit the below site to check it.',
                    'hrefLocation': 'countdown-timer/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/countdown-timer'
                },
                {
                    'projectName': 'Time Square News',
                    'img_src': 'assets/Sample-photos/time-square-news.jpg',
                    'description': 'This is a news website, visit the below site for read global news with different sources and categories.',
                    'hrefLocation': 'time-square/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/time-square'
                },
                {
                    'projectName': 'Password Generator',
                    'img_src': 'assets/Sample-photos/secure-password.jpg',
                    'description': 'Visit the below site to generate random and secure passwords.',
                    'hrefLocation': 'Secure-password-generator/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/Secure-password-generator'
                },
                // {
                //     'projectName': 'Quiz App',
                //     'img_src': 'assets/Sample-photos/quiz-app.png',
                //     'description': 'This is a quiz app, visit the below site to answer the questions.',
                //     'hrefLocation': 'Quiz-app/index.html',
                //     'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/Quiz-App/Quiz-app'
                // },
                {
                    'projectName': 'Food Demo Site',
                    'img_src': 'assets/Sample-photos/food.jpg',
                    'description': 'This is a food restaurant demo site for sell, contact me if you are willing to buy this.',
                    'hrefLocation': 'Food-site/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/Food-site'
                },
                // {
                //     'projectName': 'Photo Finder',
                //     'img_src': 'assets/Sample-photos/photos-finder.jpg',
                //     'description': 'This is a photos search engine and random photos finder tool, visit the site below for the same.',
                //     'hrefLocation': 'Photos-finder/index.html',
                //     'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/Photos-finder'
                // },
                // {
                //     'projectName': 'Quotes-for-life',
                //     'img_src': 'assets/Sample-photos/quotes-for-life.jpg',
                //     'description': 'This is a random quote generator tool, visit the site below for the same.',
                //     'hrefLocation': 'Quotes-for-life/index.html',
                //     'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/Quotes-for-life'
                // },
                {
                    'projectName': 'Covid-19 Tracker',
                    'img_src': 'assets/Sample-photos/covid-19-tracker.jpg',
                    'description': 'Visit the below site to check current COVID-19 Cases.',
                    'hrefLocation': 'Covid-19-Tracker/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/Covid-19-Tracker'
                },
                {
                    'projectName': 'Periodic Table',
                    'img_src': 'assets/Sample-photos/periodic-table.jpg',
                    'description': 'Visit the below site to check the details of any element of periodic table.',
                    'hrefLocation': 'Periodic-table/index.html',
                    'code': 'https://github.com/abhidadhaniya23/abhidadhaniya.github.io/tree/master/Periodic-table'
                }
            ];

            let projects = document.querySelector('.list');

            Array.from(data).forEach(function (e, index) {
                projects.innerHTML += `
                <div class="tool">
                    <a target='_blank' href="${e.hrefLocation}">
                        <div class="project_pic">
                            <img class="lazy" data-src=${e.img_src}>
                            <h2 class="project_name">
                                ${e.projectName}
                            </h2>
                        </div>
                    </a>
                </div>
                `;
            });
        </script>

        <!-- <div class="details">
    <p class="desc">${e.description}</p>
</div>
<div class="link">
    <a target='_blank' href="${e.hrefLocation}">Visit Site</a>
    <a target='_blank' href="${e.code}">Source Code</a>
</div> -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190968825-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-190968825-1');
        </script>

</body>

</html>